<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<!--NOTE: Make sure the section above this footer has the same background color as the footer for a seamless trasition between them-->

<footer id="cs-footer-1783">
    <!--Contact Info-->
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="left-section">
            <a aria-label="go back to home" class="cs-logo" href="/">
                <img
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="/assets/images/logo.jpg"
                    alt="logo"
                    width="240"
                    height="32"
                />
            </a>
        </div>
        <div class="right-section">
            <div class="cs-ul-wrapper">
                <span class="cs-header">Useful Links</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <a class="cs-link" href="/about/">About Us</a>
                    </li>
                    <li class="cs-li">
                        <a class="cs-link" href="/services/">Our Services</a>
                    </li>
                    <li class="cs-li">
                        <a class="cs-link" href="/contact/">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="cs-contact">
                <div class="cs-contact-info">
                    <span class="cs-topper">Call us</span>
                    <a
                        href="tel:{{ client.phoneForTel }}"
                        class="cs-contact-link"
                        >{{ client.phoneFormatted }}</a
                    >
                </div>

                <div class="cs-contact-info">
                    <span class="cs-topper">Email Us</span>
                    <a href="mailto:{{ client.email }}" class="cs-contact-link"
                        >{{ client.email }}</a
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2025 -
            <a
                href="https://westcoastwebdesigns.com"
                class="cs-credit-link"
                target="_blank"
                rel="noopener"
                >West Coast Web Designs</a
            >
        </span>
    </div>
</footer>
