---
title: "Contact | Code Stitch Web Designs"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "contact/"
page:
    title: Contact Us
eleventyNavigation:
    key: Contact Us
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}
{% block head %}
    <link rel="stylesheet" href="/assets/css/contact-form.css" />
    <script src="/assets/js/file-upload.js" defer></script>
{% endblock %}
{% block body %}
    {% include 'components/banner.html' %}
    {% include 'components/contact-form.html' %}
{% endblock %}
