---
title: "Contact Jim's RV Inspection Services | Certified RV Inspector in Portland, OR | Call {{ client.phoneFormatted }}"
description: "Get in touch with Jim's RV Inspection Services in Portland, Oregon. Request an inspection, ask questions, and get expert advice for your RV today."
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "contact/"
page:
    title: Contact Us
eleventyNavigation:
    key: Contact Us
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}
{% block head %}
    <link rel="stylesheet" href="/assets/css/contact-form.css" />
    <script src="/assets/js/file-upload.js" defer></script>
{% endblock %}
{% block body %}
    {% include 'components/banner.html' %}
    {% include 'components/contact-form.html' %}
{% endblock %}
