---
title: "About Jim's RV Inspection Services | Certified RV Inspector in Portland, OR | Call (503) 477-1702"
description: "Learn more about Jim's RV Inspection Services, a certified RV inspector in Portland, Oregon. Over 400 inspections completed — helping RV buyers, sellers, and owners make informed decisions."
permalink: "faq/"
page:
    title: Frequently Asked Questions
eleventyNavigation:
    key: FAQ
    order: 700
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/faq.css" />
    <link
        rel="preloadImg"
        href="{% getUrl '/assets/images/about-us.jpg' | resize({ width: 1024, height: 1080 }) | jpeg %}"
        as="image"
    />
    <link
        rel="preloadImg"
        href="{% getUrl '/assets/images/about-us.jpg' | resize({ width: 712, height: 898 }) | jpeg %}"
        as="image"
    />
{% endblock %}

{% block body %}
    {% include 'components/banner.html' %}

    <!-- ============================================ -->
    <!--                      FAQ                     -->
    <!-- ============================================ -->

    <section id="faq-1582">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">FAQ</span>
                <h2 class="cs-title">Frequently Asked Questions</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">1. How do I place an order?</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ipsa fugiat impedit molestias vitae
                            voluptatibus sed enim! Cupiditate ab praesentium
                            dolorem libero veritatis beatae assumenda totam, in,
                            nemo quis consectetur labore!
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">
                            2. What payment methods do you accept?
                        </h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ipsa fugiat impedit molestias vitae
                            voluptatibus sed enim! Cupiditate ab praesentium
                            dolorem libero veritatis beatae assumenda totam, in,
                            nemo quis consectetur labore!
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">3. How can I track my order?</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ipsa fugiat impedit molestias vitae
                            voluptatibus sed enim! Cupiditate ab praesentium
                            dolorem libero veritatis beatae assumenda totam, in,
                            nemo quis consectetur labore!
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">4. What is your return policy?</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ipsa fugiat impedit molestias vitae
                            voluptatibus sed enim! Cupiditate ab praesentium
                            dolorem libero veritatis beatae assumenda totam, in,
                            nemo quis consectetur labore!
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">
                            5. Do you offer international shipping?
                        </h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ipsa fugiat impedit molestias vitae
                            voluptatibus sed enim! Cupiditate ab praesentium
                            dolorem libero veritatis beatae assumenda totam, in,
                            nemo quis consectetur labore!
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">
                            6. How can I contact customer support?
                        </h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ipsa fugiat impedit molestias vitae
                            voluptatibus sed enim! Cupiditate ab praesentium
                            dolorem libero veritatis beatae assumenda totam, in,
                            nemo quis consectetur labore!
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    {% include 'components/cta.html' %}
{% endblock %}
