---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
    key: Home
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />
    <link rel="stylesheet" href="/assets/css/contact-form.css" />
    <script src="/assets/js/file-upload.js" defer></script>

    <!-- Script for Netlify Identity -->
    <script
        defer
        src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    <script defer>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", (user) => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>

    <!-- JSON Schema Markup -->
    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1059">
        <div class="cs-container">
            <div class="cs-content">
                <h1 class="cs-title">Portland Oregon RV Inspections</h1>
                <p class="cs-text">
                    Buy (and Negotiate) with Confidence – Get a Detailed
                    Inspection and Repair Cost Estimate Before You Commit!
                    Servicing Portland, Oregon and Surrounding Areas.
                </p>
                <a href="/contact/" class="cs-button-solid"
                    >Request Appointment</a
                >
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source
                media="(max-width: 600px)"
                srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 640, height: 1500, position: 'attention' }) | avif %}
                "
                type="image/avif"
            />
            <source
                media="(max-width: 600px)"
                srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 640, height: 1500, position: 'attention' }) | webp %}
                "
                type="image/webp"
            />
            <source
                media="(max-width: 600px)"
                srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 640, height: 1500, position: 'attention' }) | jpeg %}
                "
                type="image/jpeg"
            />
            <!--Tablet Image-->
            <source
                media="(min-width: 601px)"
                srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | avif %}
                "
                type="image/avif"
            />
            <source
                media="(min-width: 601px)"
                srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | webp %}
                "
                type="image/webp"
            />
            <source
                media="(min-width: 601px)"
                srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | jpeg %}
                "
                type="image/jpeg"
            />
            <img
                src="{% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | jpeg %}"
                alt="traveling rv"
                width="2250"
                height="1500"
                decoding="async"
                aria-hidden="true"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->

    <section id="services-1646">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Inspection Services</span>
                <h2 class="cs-title">
                    Comprehensive Inspections for Every Stage of RV Ownership
                </h2>
                <p class="cs-text">
                    Whether you're buying, selling, maintaining, or filing a
                    warranty claim, having a professional inspection provides
                    clarity and confidence. Explore the inspection services we
                    offer to find the right fit for your situation.
                </p>
                <a href="/services/inspections/" class="cs-button-solid"
                    >Learn More</a
                >
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img
                        class="cs-icon"
                        src="/assets/icons/clipboard.svg"
                        loading="lazy"
                        decoding="async"
                        alt="icon"
                        width="48"
                        height="48"
                        aria-hidden="true"
                    />
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Pre-Purchase RV Inspections</h3>
                        <p class="cs-item-text">
                            Know exactly what you're buying with a thorough,
                            top-to-bottom inspection. Get a clear, professional
                            report outlining any issues along with estimated
                            repair costs to help with negotiation.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <img
                        class="cs-icon"
                        src="/assets/icons/salary.svg"
                        loading="lazy"
                        decoding="async"
                        alt="icon"
                        width="48"
                        height="48"
                        aria-hidden="true"
                    />
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Seller Inspections</h3>
                        <p class="cs-item-text">
                            Want to sell your RV with confidence? A pre-sale
                            inspection helps identify issues upfront so you can
                            address them before listing — giving buyers
                            confidence and helping your RV stand out.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <img
                        class="cs-icon"
                        src="/assets/icons/insurance.svg"
                        loading="lazy"
                        decoding="async"
                        alt="icon"
                        width="48"
                        height="48"
                        aria-hidden="true"
                    />
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Warranty & Insurance Inspections</h3>
                        <p class="cs-item-text">
                            Support your warranty or insurance claim with a
                            professional inspection that documents the condition
                            of your RV and any qualifying issues that need
                            repair.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <img
                        class="cs-icon"
                        src="/assets/icons/system-inspection.svg"
                        loading="lazy"
                        decoding="async"
                        alt="icon"
                        width="48"
                        height="48"
                        aria-hidden="true"
                    />
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Essential Systems Inspections</h3>
                        <p class="cs-item-text">
                            Targeted inspection focusing only on the most
                            critical systems — propane, electric, and plumbing —
                            ensuring the RV’s core functions are safe and
                            operational.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="sbs-2291">
        <div class="cs-container">
            <!-- Left Content Section-->
            <div class="cs-content">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">
                    Experienced. Certified. Committed to Your Confidence.
                </h2>
                <p class="cs-text">
                    Jim, the owner and lead inspector, brings years of hands-on
                    RV experience to every inspection. Based in Portland,
                    Oregon, Jim has completed over 400 inspections since earning
                    his NRVIA certification in 2022. His deep knowledge of RV
                    systems, combined with his passion for helping people make
                    informed decisions, ensures that every customer gets a
                    thorough, unbiased report they can trust.
                </p>
                <p class="cs-text">
                    What sets Jim apart is his unique approach — not only does
                    he identify potential problems, but he also provides
                    estimated repair costs. This added insight gives buyers and
                    sellers a valuable tool for negotiation.
                </p>
                <p class="cs-text">
                    Whether you’re buying your first RV, preparing to sell, or
                    filing a warranty or insurance claim, Jim is dedicated to
                    providing the knowledge and confidence you need to make
                    smart decisions. Serving all of Washington and Oregon, every
                    inspection is more than just a checklist — it’s your roadmap
                    to buying, selling, and owning with confidence.
                </p>
                <a
                    class="cs-button-solid"
                    aria-label="learn more about our programs"
                    href=""
                    >Read More</a
                >
            </div>
            <!-- Right Image Section -->
            <div class="cs-image-group">
                <!--Floating Box-->
                <div class="cs-box">
                    <span class="cs-number">400+</span>
                    <div class="cs-flex">
                        <h3 class="cs-heading">Inspections completed</h3>
                        <span class="cs-desc"
                            >Providing quality inspections service since
                            2022.</span
                        >
                    </div>
                </div>
                <!--Image-->
                <picture class="cs-picture">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction3.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction3.jpg
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction3.jpg"
                        alt="meeting"
                        width="630"
                        height="630"
                        aria-hidden="true"
                    />
                </picture>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="sbs-1256">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-picture cs-picture1">
                    <!--Mobile Image-->
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-1.jpg' | resize({ width: 336, height: 336, position: 'attention' }) | avif %}
                        "
                        type="image/avif"
                    />
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-1.jpg' | resize({ width: 336, height: 336, position: 'attention' }) | webp %}
                        "
                        type="image/webp"
                    />
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-1.jpg' | resize({ width: 336, height: 336, position: 'attention' }) | jpeg %}
                        "
                        type="image/jpeg"
                    />
                    <!--Tablet and above Image-->
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-1.jpg' | resize({ width: 406, height: 406, position: 'attention' }) | avif %}
                        "
                        type="image/avif"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-1.jpg' | resize({ width: 406, height: 406, position: 'attention' }) | webp %}
                        "
                        type="image/webp"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-1.jpg' | resize({ width: 406, height: 406, position: 'attention' }) | jpeg %}
                        "
                        type="image/jpeg"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="/assets/images/gallery/rv-1.jpg"
                        alt="RV"
                        width="203"
                        height="203"
                    />
                </picture>
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-2.jpg' | resize({ width: 344, height: 344, position: 'attention' }) | avif %}
                        "
                        type="image/avif"
                    />
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-2.jpg' | resize({ width: 344, height: 344, position: 'attention' }) | webp %}
                        "
                        type="image/webp"
                    />
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-2.jpg' | resize({ width: 344, height: 344, position: 'attention' }) | jpeg %}
                        "
                        type="image/jpeg"
                    />
                    <!--Tablet and above Image-->
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-2.jpg' | resize({ width: 414, height: 414, position: 'attention' }) | avif %}
                        "
                        type="image/avif"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-2.jpg' | resize({ width: 414, height: 414, position: 'attention' }) | webp %}
                        "
                        type="image/webp"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-2.jpg' | resize({ width: 414, height: 414, position: 'attention' }) | jpeg %}
                        "
                        type="image/jpeg"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="/assets/images/gallery/rv-2.jpg"
                        alt="rv"
                        width="207"
                        height="207"
                    />
                </picture>
                <picture class="cs-picture cs-picture3">
                    <!--Mobile Image-->
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-3.jpg' | resize({ width: 354, height: 354, position: 'attention' }) | avif %}
                        "
                        type="image/avif"
                    />
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-3.jpg' | resize({ width: 354, height: 354, position: 'attention' }) | webp %}
                        "
                        type="image/webp"
                    />
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-3.jpg' | resize({ width: 354, height: 354, position: 'attention' }) | jpeg %}
                        "
                        type="image/jpeg"
                    />
                    <!--Tablet and above Image-->
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-3.jpg' | resize({ width: 428, height: 428, position: 'attention' }) | avif %}
                        "
                        type="image/avif"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-3.jpg' | resize({ width: 428, height: 428, position: 'attention' }) | webp %}
                        "
                        type="image/webp"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-3.jpg' | resize({ width: 428, height: 428, position: 'attention' }) | jpeg %}
                        "
                        type="image/jpeg"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="/assets/images/gallery/rv-3.jpg"
                        alt="building"
                        width="214"
                        height="214"
                    />
                </picture>
                <picture class="cs-picture cs-picture4">
                    <!--Mobile Image-->
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-4.jpg' | resize({ width: 370, height: 370, position: 'attention' }) | avif %}
                        "
                        type="image/avif"
                    />
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-4.jpg' | resize({ width: 370, height: 370, position: 'attention' }) | webp %}
                        "
                        type="image/webp"
                    />
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-4.jpg' | resize({ width: 370, height: 370, position: 'attention' }) | jpeg %}
                        "
                        type="image/jpeg"
                    />
                    <!--Tablet and above Image-->
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-4.jpg' | resize({ width: 446, height: 446, position: 'attention' }) | avif %}
                        "
                        type="image/avif"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-4.jpg' | resize({ width: 446, height: 446, position: 'attention' }) | webp %}
                        "
                        type="image/webp"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-4.jpg' | resize({ width: 446, height: 446, position: 'attention' }) | jpeg %}
                        "
                        type="image/jpeg"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="/assets/images/gallery/rv-4.jpg"
                        alt="rv"
                        width="223"
                        height="223"
                    />
                </picture>
                <picture class="cs-picture cs-picture5">
                    <!--Mobile Image-->
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-5.jpg' | resize({ width: 476, height: 476, position: 'attention' }) | avif %}
                        "
                        type="image/avif"
                    />
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-5.jpg' | resize({ width: 476, height: 476, position: 'attention' }) | webp %}
                        "
                        type="image/webp"
                    />
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-5.jpg' | resize({ width: 476, height: 476, position: 'attention' }) | jpeg %}
                        "
                        type="image/jpeg"
                    />
                    <!--Tablet and above Image-->
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-5.jpg' | resize({ width: 574, height: 574, position: 'attention' }) | avif %}
                        "
                        type="image/avif"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-5.jpg' | resize({ width: 574, height: 574, position: 'attention' }) | webp %}
                        "
                        type="image/webp"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-5.jpg' | resize({ width: 574, height: 574, position: 'attention' }) | jpeg %}
                        "
                        type="image/jpeg"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="/assets/images/gallery/rv-5.jpg"
                        alt="building"
                        width="287"
                        height="287"
                    />
                </picture>
                <picture class="cs-picture cs-picture6">
                    <!--Mobile Image-->
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-6.jpg' | resize({ width: 336, height: 336, position: 'attention' }) | avif %}
                        "
                        type="image/avif"
                    />
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-6.jpg' | resize({ width: 336, height: 336, position: 'attention' }) | webp %}
                        "
                        type="image/webp"
                    />
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-6.jpg' | resize({ width: 336, height: 336, position: 'attention' }) | jpeg %}
                        "
                        type="image/jpeg"
                    />
                    <!--Tablet and above Image-->
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-6.jpg' | resize({ width: 406, height: 406, position: 'attention' }) | avif %}
                        "
                        type="image/avif"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-6.jpg' | resize({ width: 406, height: 406, position: 'attention' }) | webp %}
                        "
                        type="image/webp"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-6.jpg' | resize({ width: 406, height: 406, position: 'attention' }) | jpeg %}
                        "
                        type="image/jpeg"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="/assets/images/gallery/rv-6.jpg"
                        alt="rv"
                        width="203"
                        height="203"
                    />
                </picture>
                <picture class="cs-picture cs-picture7">
                    <!--Mobile Image-->
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-7.jpg' | resize({ width: 338, height: 338, position: 'attention' }) | avif %}
                        "
                        type="image/avif"
                    />
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-7.jpg' | resize({ width: 338, height: 338, position: 'attention' }) | webp %}
                        "
                        type="image/webp"
                    />
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-7.jpg' | resize({ width: 338, height: 338, position: 'attention' }) | jpeg %}
                        "
                        type="image/jpeg"
                    />
                    <!--Tablet and above Image-->
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-7.jpg' | resize({ width: 408, height: 408, position: 'attention' }) | avif %}
                        "
                        type="image/avif"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-7.jpg' | resize({ width: 408, height: 408, position: 'attention' }) | webp %}
                        "
                        type="image/webp"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-7.jpg' | resize({ width: 408, height: 408, position: 'attention' }) | jpeg %}
                        "
                        type="image/jpeg"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="/assets/images/gallery/rv-7.jpg"
                        alt="class b van"
                        width="204"
                        height="204"
                    />
                </picture>
                <picture class="cs-picture cs-picture8">
                    <!--Mobile Image-->
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-8.jpg' | resize({ width: 370, height: 370, position: 'attention' }) | avif %}
                        "
                        type="image/avif"
                    />
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-8.jpg' | resize({ width: 370, height: 370, position: 'attention' }) | webp %}
                        "
                        type="image/webp"
                    />
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-8.jpg' | resize({ width: 370, height: 370, position: 'attention' }) | jpeg %}
                        "
                        type="image/jpeg"
                    />
                    <!--Tablet and above Image-->
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-8.jpg' | resize({ width: 446, height: 446, position: 'attention' }) | avif %}
                        "
                        type="image/avif"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-8.jpg' | resize({ width: 446, height: 446, position: 'attention' }) | webp %}
                        "
                        type="image/webp"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            {% getUrl '/assets/images/gallery/rv-8.jpg' | resize({ width: 446, height: 446, position: 'attention' }) | jpeg %}
                        "
                        type="image/jpeg"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="/assets/images/gallery/rv-8.jpg"
                        alt="pull trailer"
                        width="223"
                        height="223"
                    />
                </picture>
                <!--Stripe background-->
                <picture class="cs-waves-wrapper">
                    <img
                        class="cs-waves"
                        loading="lazy"
                        decoding="async"
                        src="/assets/images/waves.svg"
                        alt="stripes"
                        width="650"
                        height="933"
                        aria-hidden="true"
                    />
                </picture>
            </div>
            <div class="cs-content">
                <span class="cs-topper">Why choose us</span>
                <h2 class="cs-title">Why You Need an RV Inspector</h2>
                <p class="cs-text">
                    Buying, selling, or maintaining an RV can feel overwhelming
                    — and RVs are complex systems on wheels. Here’s why hiring a
                    certified inspector is a smart move:
                </p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img
                            class="cs-li-img"
                            loading="lazy"
                            decoding="async"
                            src="/assets/icons/round-check.svg"
                            alt="icon"
                            width="24"
                            height="24"
                            aria-hidden="true"
                        />
                        <span
                            ><b>For Buyers:</b> Protect your investment and
                            avoid costly surprises down the road. A thorough
                            inspection reveals hidden issues and gives you
                            leverage to negotiate a fair price.</span
                        >
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-li-img"
                            loading="lazy"
                            decoding="async"
                            src="/assets/icons/round-check.svg"
                            alt="icon"
                            width="24"
                            height="24"
                            aria-hidden="true"
                        />
                        <span
                            ><b>For Sellers:</b> Transparency builds trust. A
                            pre-sale inspection helps you address concerns
                            upfront, boosting buyer confidence and making your
                            RV stand out.</span
                        >
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-li-img"
                            loading="lazy"
                            decoding="async"
                            src="/assets/icons/round-check.svg"
                            alt="icon"
                            width="24"
                            height="24"
                            aria-hidden="true"
                        />
                        <span
                            ><b>For Warranty & Insurance Claims</b> Inspections
                            provide the documentation needed to support claims,
                            proving the condition of your RV to manufacturers
                            and insurers.</span
                        >
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-li-img"
                            loading="lazy"
                            decoding="async"
                            src="/assets/icons/round-check.svg"
                            alt="icon"
                            width="24"
                            height="24"
                            aria-hidden="true"
                        />
                        <span
                            ><b>For Essential Systems:</b> Even if you’re not
                            buying or selling, checking key systems like
                            propane, plumbing, and electrical ensures your RV is
                            safe and ready for the road.</span
                        >
                    </li>
                </ul>
                <p class="cs-text">
                    No matter your situation, an experienced, certified
                    inspector helps you make informed decisions with confidence.
                </p>
                <a href="/contact/" class="cs-button-solid"
                    >Schedule an Inspection</a
                >
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Logos                      -->
    <!-- ============================================ -->

    <section id="logos-1430">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Professionally Certified RV Inspector</h2>
            </div>
            <div class="cs-logo-wrapper">
                <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
                <picture class="cs-picture">
                    <img
                        class="cs-logo cs-logo-rv-help"
                        src="assets/images/rvhelp-primary-logo.webp"
                        alt="logo"
                        width="228"
                        height="61"
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
                <picture class="cs-picture">
                    <img
                        class="cs-logo"
                        src="assets/images/nrvia-logo.png"
                        alt="logo"
                        width="228"
                        height="61"
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
                <picture class="cs-picture">
                    <img
                        class="cs-logo"
                        src="assets/images/rvtaa-logo.png"
                        alt="logo"
                        width="400"
                        height="80"
                        loading="lazy"
                        decoding="async"
                    />
                </picture>
            </div>
        </div>
        <!-- Background Graphic -->
        <!-- <picture class="cs-background">
            <img
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves5.svg"
                alt="waves"
                loading="lazy"
            />
        </picture> -->
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-64">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Customer Reviews</span>
                <h2 class="cs-title">What Our Customers Are Saying</h2>
                <p class="cs-text">
                    See what past clients have to say about working with Jim and
                    his inspection services.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img
                        class="cs-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                        alt="profile"
                        width="116"
                        height="20"
                    />
                    <span class="cs-name">Sarah M.</span>
                    <span class="cs-desc">Vancouver, WA</span>
                    <p class="cs-item-text">
                        Jim was incredibly thorough and took the time to explain
                        every detail. Thanks to his inspection report, we were
                        able to negotiate thousands off the purchase price of
                        our RV. Highly recommend!
                    </p>
                </li>
                <li class="cs-item">
                    <img
                        class="cs-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                        alt="profile"
                        width="116"
                        height="20"
                    />
                    <span class="cs-name">Mark T.</span>
                    <span class="cs-desc">Portland, OR</span>
                    <p class="cs-item-text">
                        I’ve bought several RVs over the years, but this was the
                        first time I hired an inspector. Jim’s knowledge and
                        attention to detail were second to none. I’ll never buy
                        another RV without his help.
                    </p>
                </li>
                <li class="cs-item">
                    <img
                        class="cs-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                        alt="profile"
                        width="116"
                        height="20"
                    />
                    <span class="cs-name">Lisa K.</span>
                    <span class="cs-desc">Salem, OR</span>
                    <p class="cs-item-text">
                        Jim’s seller inspection gave me the confidence to list
                        my RV at a fair price and avoid last-minute surprises.
                        The buyers were impressed with the report, and the sale
                        went smoothly.
                    </p>
                </li>
            </ul>
            <a aria-label="leave a review" href="" class="cs-button-solid"
                >leave a review</a
            >
        </div>
    </section>

    {% include 'components/contact-form.html' %}
{% endblock %}
