---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
    key: Home
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script
        defer
        src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    <script defer>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", (user) => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>

    <!-- JSON Schema Markup -->
    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1898">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">RV Inspections You Can Trust</span>
                <h1 class="cs-title">Portland Oregon RV Inspections</h1>
                <p class="cs-text">
                    Buy (and Negotiate) with Confidence – Get a Detailed
                    Inspection and Repair Cost Estimate Before You Commit!
                    Servicing Portland, Oregon and Surrounding Areas.
                </p>
                <a href="" class="cs-button-solid">Read More</a>
                {# <img
                    class="cs-content-graphic"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-hero-graphic.svg"
                    alt="graphic"
                    height="1075"
                    width="1135"
                    loading="lazy"
                    decoding="async"
                /> #}
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source
                            media="(max-width: 500px)"
                            srcset="
                                {% getUrl '/assets/images/inspection.webp' | resize({ width: 838, height: 320, position: 'center' }) | avif %}
                            "
                            type="image/avif"
                        />
                        <source
                            media="(max-width: 500px)"
                            srcset="
                                {% getUrl '/assets/images/inspection.webp' | resize({ width: 838, height: 320, position: 'center' }) | webp %}
                            "
                            type="image/webp"
                        />
                        <source
                            media="(max-width: 500px)"
                            srcset="
                                {% getUrl '/assets/images/inspection.webp' | resize({ width: 838, height: 320, position: 'center' }) | jpeg %}
                            "
                            type="image/jpeg"
                        />
                        <!--Tablet Image-->
                        <source
                            media="(min-width: 601px)"
                            srcset="
                                {% getUrl '/assets/images/inspection.webp' | resize({ width: 280, height: 364, position: 'attention' }) | avif %}
                            "
                            type="image/avif"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="
                                {% getUrl '/assets/images/inspection.webp' | resize({ width: 280, height: 364, position: 'attention' }) | webp %}
                            "
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="
                                {% getUrl '/assets/images/inspection.webp' | resize({ width: 280, height: 364, position: 'attention' }) | jpeg %}
                            "
                            type="image/jpeg"
                        />
                        <img
                            loading="lazy"
                            decoding="async"
                            src="/assets/images/inspection.webp"
                            alt="rv inspection"
                            width="280"
                            height="364"
                        />
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">Pre-Purchase RV Inspection</h3>
                        <p class="cs-item-text">
                            Know Before You Buy! Get a detailed inspection
                            report and repair cost estimate to make an informed
                            purchase.
                        </p>
                        <a href="/" class="cs-link">
                            Join Us Today
                            <img
                                class="cs-arrow"
                                loading="lazy"
                                decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-red.svg"
                                alt="icon"
                                width="20"
                                height="20"
                                aria-hidden="true"
                            />
                        </a>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <source
                            media="(max-width: 500px)"
                            srcset="
                                {% getUrl '/assets/images/exterior-inspection.webp' | resize({ width: 838, height: 320, position: 'center' }) | avif %}
                            "
                            type="image/avif"
                        />
                        <source
                            media="(max-width: 500px)"
                            srcset="
                                {% getUrl '/assets/images/exterior-inspection.webp' | resize({ width: 838, height: 320, position: 'center' }) | webp %}
                            "
                            type="image/webp"
                        />
                        <source
                            media="(max-width: 500px)"
                            srcset="
                                {% getUrl '/assets/images/exterior-inspection.webp' | resize({ width: 838, height: 320, position: 'center' }) | jpeg %}
                            "
                            type="image/jpeg"
                        />
                        <!--Tablet Image-->
                        <source
                            media="(min-width: 601px)"
                            srcset="
                                {% getUrl '/assets/images/exterior-inspection.webp' | resize({ width: 280, height: 364, position: 'attention' }) | avif %}
                            "
                            type="image/avif"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="
                                {% getUrl '/assets/images/exterior-inspection.webp' | resize({ width: 280, height: 364, position: 'attention' }) | webp %}
                            "
                            type="image/webp"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="
                                {% getUrl '/assets/images/exterior-inspection.webp' | resize({ width: 280, height: 364, position: 'attention' }) | jpeg %}
                            "
                            type="image/jpeg"
                        />
                        <img
                            loading="lazy"
                            decoding="async"
                            src="/assets/images/inspection.webp"
                            alt="exterior maintenance"
                            width="280"
                            height="364"
                        />
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">Exterior Inspection & Maintenance</h3>
                        <p class="cs-item-text">
                            We offer free inspections of your RV's exterior and
                            provide a detailed estimate of repair costs.
                        </p>
                        <a href="/" class="cs-link">
                            Learn More
                            <img
                                class="cs-arrow"
                                loading="lazy"
                                decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-red.svg"
                                alt="icon"
                                width="20"
                                height="20"
                                aria-hidden="true"
                            />
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Background Image -->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source
                media="(max-width: 600px)"
                srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 640, height: 1500, position: 'attention' }) | avif %}
                "
                type="image/avif"
            />
            <source
                media="(max-width: 600px)"
                srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 640, height: 1500, position: 'attention' }) | webp %}
                "
                type="image/webp"
            />
            <source
                media="(max-width: 600px)"
                srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 640, height: 1500, position: 'attention' }) | jpeg %}
                "
                type="image/jpeg"
            />
            <!--Tablet Image-->
            <source
                media="(min-width: 601px)"
                srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | avif %}
                "
                type="image/avif"
            />
            <source
                media="(min-width: 601px)"
                srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | webp %}
                "
                type="image/webp"
            />
            <source
                media="(min-width: 601px)"
                srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | jpeg %}
                "
                type="image/jpeg"
            />
            <img
                src="{% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | jpeg %}"
                alt="traveling rv"
                width="2250"
                height="1500"
                decoding="async"
                aria-hidden="true"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-1975">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Dental Care For Everyone</span>
                <h2 class="cs-title">Explore Our Services</h2>
                <p class="cs-text">
                    Know exactly what you're buying with a thorough,
                    top-to-bottom inspection. Get a clear, professional report
                    outlining any issues along with estimated repair costs to
                    help with negotiation.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="cs-flex">
                        <h3 class="cs-h3">Pre-Purchase RV Inspections</h3>
                        <p class="cs-item-text">
                            Dentitch provides the best service and has won many
                            awards. Our mission is to make everyone confident to
                            give their best smile.
                        </p>
                    </div>
                    <a href="" class="cs-link"> Learn More </a>
                    <picture class="cs-picture">
                        <img
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/toothache.png"
                            alt="icon"
                            width="181"
                            height="102"
                        />
                    </picture>
                </li>
                <li class="cs-item">
                    <div class="cs-flex">
                        <h3 class="cs-h3">Seller Inspections</h3>
                        <p class="cs-item-text">
                            Want to sell your RV with confidence? A pre-sale
                            inspection helps identify issues upfront so you can
                            address them before listing — giving buyers
                            confidence and helping your RV stand out.
                        </p>
                    </div>
                    <a href="" class="cs-link"> Learn More </a>
                    <picture class="cs-picture">
                        <img
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/implant.png"
                            alt="icon"
                            width="181"
                            height="102"
                        />
                    </picture>
                </li>
                <li class="cs-item">
                    <div class="cs-flex">
                        <h3 class="cs-h3">Warranty & Insurance Inspections</h3>
                        <p class="cs-item-text">
                            Support your warranty or insurance claim with a
                            professional inspection that documents the condition
                            of your RV and any qualifying issues that need
                            repair.
                        </p>
                    </div>
                    <a href="" class="cs-link"> Learn More </a>
                    <picture class="cs-picture">
                        <img
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gums.png"
                            alt="icon"
                            width="181"
                            height="102"
                        />
                    </picture>
                </li>
                <li class="cs-item">
                    <div class="cs-flex">
                        <h3 class="cs-h3">Essential Systems Inspections</h3>
                        <p class="cs-item-text">
                            Targeted inspection focusing only on the most
                            critical systems — propane, electric, and plumbing —
                            ensuring the RV’s core functions are safe and
                            operational.
                        </p>
                    </div>
                    <a href="" class="cs-link"> Learn More </a>
                    <picture class="cs-picture">
                        <img
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/teeth.png"
                            alt="icon"
                            width="181"
                            height="102"
                        />
                    </picture>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="sbs-2291">
        <div class="cs-container">
            <!-- Left Content Section-->
            <div class="cs-content">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">
                    Experienced. Certified. Committed to Your Confidence.
                </h2>
                <p class="cs-text">
                    Jim, the owner and lead inspector, brings years of hands-on
                    RV experience to every inspection. Based in Portland,
                    Oregon, Jim has completed over 400 inspections since earning
                    his NRVIA certification in 2022. His deep knowledge of RV
                    systems, combined with his passion for helping people make
                    informed decisions, ensures that every customer gets a
                    thorough, unbiased report they can trust.
                </p>
                <p class="cs-text">
                    What sets Jim apart is his unique approach — not only does
                    he identify potential problems, but he also provides
                    estimated repair costs. This added insight gives buyers and
                    sellers a valuable tool for negotiation.
                </p>
                <p class="cs-text">
                    Whether you’re buying your first RV, preparing to sell, or
                    filing a warranty or insurance claim, Jim is dedicated to
                    providing the knowledge and confidence you need to make
                    smart decisions. Serving all of Washington and Oregon, every
                    inspection is more than just a checklist — it’s your roadmap
                    to buying, selling, and owning with confidence.
                </p>
                {# <div class="cs-features">
                    <h3 class="cs-h3">Key Features:</h3>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            Custom design tailored to your outdoor space
                        </li>
                        <li class="cs-li">
                            Durable and aesthetically pleasing materials
                        </li>
                        <li class="cs-li">
                            Seamless integration with your home's architecture
                        </li>
                    </ul>
                </div> #}
                <a
                    class="cs-button-solid"
                    aria-label="learn more about our programs"
                    href=""
                    >Read More</a
                >
            </div>
            <!-- Right Image Section -->
            <div class="cs-image-group">
                <!--Floating Box-->
                <div class="cs-box">
                    <span class="cs-number">400+</span>
                    <div class="cs-flex">
                        <h3 class="cs-heading">Inspections completed</h3>
                        <span class="cs-desc"
                            >Providing quality inspections service since
                            2022.</span
                        >
                    </div>
                </div>
                <!--Image-->
                <picture class="cs-picture">
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction3.jpg
                        "
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction3.jpg
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction3.jpg"
                        alt="meeting"
                        width="630"
                        height="630"
                        aria-hidden="true"
                    />
                </picture>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/construction-m.jpg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/construction.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/construction.jpg"
                        alt="house"
                        loading="lazy"
                        width="400"
                        height="560"
                    />
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/cabinets2-m.jpg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/cabinets2.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/cabinets2.jpg"
                        alt="cabinets"
                        loading="lazy"
                        width="400"
                        height="560"
                    />
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">SEO Ranking</span>
                <h2 class="cs-title">Talk about a main service keyword</h2>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent
                    Class officelan nonatoureanor mauris laoreet, iaculis libero
                    quis. Curabitur et tempus eri consequat tincidunt turpis sit
                    amet imperdiet. Praesent nonatourean olei aptent taciti
                    sociosqu ad litora torquent per.
                </p>
                <p class="cs-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Non tenetur, iure nihil ipsam qui atque commodi id
                    voluptatem nesciunt, quis animi fuga cum doloribus! Eaque
                    laboriosam, unde consectetur iure asperiores ullam.
                    Consequuntur debitis a voluptatibus vitae optio autem
                    explicabo quia neque est quas, in placeat. Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Doloribus modi
                    laudantium voluptatibus rem libero error minus quia eligendi
                    sapiente eos.
                </p>
                <a href="/blog" class="cs-button-solid">Read our Blog</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">
                Et orci volutpat, back up generator installations
            </h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port1-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port1.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port1.jpg"
                            alt="new hallway"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port4-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port4.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port4.jpg"
                            alt="new home construction"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port7-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port7.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port7.jpg"
                            alt="building a new wall"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port2-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port2.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port2.jpg"
                            alt="new kitchen"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port5-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port5.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port5.jpg"
                            alt="apartment addition"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port8-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port8.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port8.jpg"
                            alt="kew kitchen cabinets"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port3-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port3.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port3.jpg"
                            alt="new kitchen"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port6-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port6.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port6.jpg"
                            alt="apartment addition"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port9-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port9.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port9.jpg"
                            alt="kew kitchen cabinets"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                </div>
            </div>
            <a href="/projects" class="cs-button-solid">View Full Gallery</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
                dolor volutpat porttitor sagittis nunc nisl. Sagittis sit
                pellentesque gravida viverra. Leo ut sed euismod tortor risus
                et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                        class="cs-item-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                        alt="profile picture"
                        width="80"
                        height="80"
                    />
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin.
                        Consequat dolor habitasse nam sed tempor. Viverra magna
                        pharetra rhoncus, nec sed ullamcorper lectus et. Auctor
                        velit diam fermentum consequat. Feugiat viverra massa
                        urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jon Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                        class="cs-item-stars"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                        alt="stars"
                        width="96"
                        height="16"
                    />
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                        class="cs-item-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                        alt="profile picture"
                        width="80"
                        height="80"
                    />
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin.
                        Consequat dolor habitasse nam sed tempor. Viverra magna
                        pharetra rhoncus, nec sed ullamcorper lectus et. Auctor
                        velit diam fermentum consequat. Feugiat viverra massa
                        urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jane Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                        class="cs-item-stars"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                        alt="stars"
                        width="96"
                        height="16"
                    />
                </li>
            </ul>
            <a
                aria-label="read more reviews"
                href="/reviews"
                class="cs-button-solid"
                >Our Reviews</a
            >
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
